:root {
    --darkPurple: #635EF2;
    --mediumPurple: #7D6BF2;
    --lightPurple: #8D6AD9;
    --green: #39BF42;
    --notWhite: #F2F2F2;
    --darkBlueishGrey: #A3AECE;
    --grey: #b3b3b3;
    --shadow: #ff0000;
    --darkestBlue:#22293C;
    --mediumBlue: #2D3657;
    --lightBG: #383F5C;
    --orangeBG: #423F54;
    --orangeFG: #95615A;
    --lightBlue: #509BF6;
    --darkBlue: #33619C;
    --lightGreen: #69DED5;
    --darkGreen: #314267;
} 

html, body {
    background-color: var(--darkestBlue);
}

#contentWrapper {
    width: 90vw;
    min-height: 90%;
    left: 5vw;
    position: relative;
    margin-top: 5vh;
}

.walletCard {
    border-radius: 1.5rem;
    background-color: var(--mediumBlue);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.178);
}

.grid-container {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 40% 30% 25%;
    grid-template-rows: 10% 30% 30% 30% ;
    gap: 2rem 2rem;
}

.header { 
    grid-area: 1 / 1 / 2 / 4; 
    height: 75% !important;
    padding:  1rem 0 1rem 0 ;
}

#leftNav {
    position: relative;
    float: left;
    margin-left: 3rem;
    display: block;
}

.navbarItem {
    position: relative;
    color: var(--darkBlueishGrey);
    font-size: 2rem;
}

.refreshBTN {
    display: block;
    position: relative;
    background-color: var(--darkGreen);
    color: var(--lightGreen);
    padding: 0.125rem 0.75rem 0.125rem 0.75rem;
    border-radius: 30px;
    outline: none;
    border: none;
    width: 4rem;
    transition: background-color 0.45s, color 0.45s;
}

.refreshBTN:hover {
    background-color: var(--lightGreen);
    color: var(--notWhite);
}

/* refresh loading bar */

#refreshPopup {
    z-index: 100;
    position: fixed;
    border-radius: 1rem;
    width: 19rem;
    height: 8rem;
    transform: translateX(-25%) translateY(-25%);
    right: 0;
    bottom: 0;
    background-color: var(--mediumBlue);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.308);
    opacity: 0;
    transition: opacity 1s;
}

#refreshPopup span {
    display: block;
    margin-top: 6%;
    position: relative;
    text-align: center;
    color: var(--lightGreen);
}

#loadingBarWrapper {
    margin-top: 5%;
    border-radius: 1rem;
    position: relative;
    background-color: var(--darkGreen);
    width: 80%;
    height: 2rem;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 0%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#loadingBar {
    background-color: var(--lightGreen);
    animation: none;
    border-radius: inherit;
    height: inherit;
    width: 0;
    box-shadow: 0 0 20px var(--TransRed);
}

@keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
}

#rightNav {
    display: block;
    position: relative;
    float: right;
    margin-right: 4rem;
}

#accountName {
    color: var(--darkPurple);
}

.logoutBTN {
    position: inherit;
    background-color: var(--orangeBG);
    color: var(--orangeFG);
    float: right;
    padding: 0.125rem 0.75rem 0.125rem 0.75rem;
    border-radius: 30px;
    outline: none;
    border: none;
    transition: background-color 0.45s, color 0.45s;
}

.logoutBTN:hover {
    background-color: var(--orangeFG);
    color: var(--notWhite);
    transition: background-color 0.15s, color 0.15s;
}


/* -------- balance  -------- */

.totalBalance { 
    grid-area: 2 / 1 / 3 / 2; 
}

.totalBalance span {
    margin-top: 5%;
}

.personalBalance { 
    grid-area: 3 / 1 / 4 / 2; 
}

.personalBalance span { 
    margin-top: 5%; 
}

.moneyText {
    font-size: 7rem;
    margin-top: 0% !important;
    display: block;
    position: relative;
    color: var(--notWhite);
    text-align: center;
}

/* -------- Liquidity  -------- */

.liquidity { 
    grid-area: 2 / 2 / 4 / 3; 
    overflow: auto;
}

.liquidity>span { 
    margin-top: 5%;
}

.pairWrapper:first-of-type {
    margin-top: 5%;
}

.pairWrapper {
    padding: .5rem 0.5rem .5rem 0.5rem ;
    margin-top: 2%;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--lightBG);
    transition: background-color 0.25s;
    border-radius: 1rem;
    width: 70%;
    height: 4rem;
    overflow: auto;
}

.pairWrapper:hover {
    background-color: var(--orangeBG);
    transition: background-color 0.25s;
}

.pairName {
    display: inline-block;
    position: relative;
    color: var(--notWhite);
    margin-top: 2rem;
    font-size: 1rem;
    margin-left: 1rem;
    transform: translateY(-50%);
}

.pairDetails {
    margin-top: 2rem;
    margin-right: 1rem;
    transform: translateY(-50%);
    display: block;
    float: right;
}

.pairAmount {
    display: block;
    font-size: 1.2rem;
    color: var(--darkBlueishGrey);
}

.pairValue  {
    display: block;
    font-size: 1.2rem;
    color: var(--lightGreen);
}

@media screen and (max-height: 900px) {
    .refreshBTN {
        display: inline;
    }
}

@media screen and (max-width: 1000px) {
    .pairName {
        font-size: 1.2vw;
    }
    .pairAmount, .pairValue{
        font-size: 0.7rem;
    }
    .moneyText {
        font-size: 7vw;
    }
    .refreshBTN {
        display: inline;
    }
}

/* -------- Wallet  -------- */

.wallet { 
    grid-area: 2 / 3 / 5 / 4; 
}

.wallet>span { 
    margin-top: 5%;
}

/* -------- Balance Graph  -------- */

.balanceGraph { 
    grid-area: 4 / 1 / 5 / 3; 
}

.balanceGraph span { 
    margin-top: 2%;
    margin-left: 3%;
    float: left;
}