:root {
    --darkPurple: #635EF2;
    --mediumPurple: #7D6BF2;
    --lightPurple: #8D6AD9;
    --green: #39BF42;
    --notWhite: #F2F2F2;
    --shadow: #0000001f;
} 

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 15px;
  }
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--darkPurple);
  }
::-webkit-scrollbar-thumb {
    background-color:var(--notWhite);
    border-radius: 10px;
  }

::selection {
    background-color: var(--darkPurple);
    color: var(--notWhite);
}

/* Welcome screen */



body, html {
    height: 100%;
    margin: 0;
    overflow: auto;
}

#welcome_body {
    background-image: url("img/stacked-steps-haikei.svg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome_wrapper {
    width: fit-content;
    height: fit-content;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
    position: relative;
    background-color: white;
    box-shadow: 0 5px 15px var(--shadow);
    border-radius: 15px;
}

#welcome_title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 4vw;
    color: var(--darkPurple);
}

#stackedSteps {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
}

.card {

}